*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-image: url(12.jpg);
}

h1{
        text-align: center;
        font-size: 40px;
        color: #02ddfa;
;
}

.form{
    width: 750px;
    margin: 80px auto;
    background-color:#05cdff;
    padding: 60px;
    border-radius: 50px;
    font-style: italic;
    font-stretch: expanded;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.form div {
    padding: 10px;
    margin: 10px;
}

.form .input-group{
    margin-bottom: 20px;
}

.btn1 {
    background-color: #0084ff;
    color: beige;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 3px rgba(117, 89, 89, 0.5);
    border-radius: 5px;
}
.btn1:hover{
    background-color: #a80024;
    cursor: pointer;
}

.btn2{
    background-color: #0084ff;
    color: beige;
    padding: 6px;
    margin-left: 9px;
    box-shadow: 5px 5px 3px rgba(117, 89, 89, 0.5);
    border-radius: 5px;
}
.btn2:hover{
    background-color: #a80024;
    cursor: pointer;
}

.btn3 {
    background-color: #0084ff;
    color: beige;
    padding: 6px;
    margin-right: 5px;
    box-shadow: 5px 5px 3px rgba(117, 89, 89, 0.5);
    border-radius: 5px;
}
.btn3:hover{
    background-color: #a80024;
    cursor: pointer;
}

.btn4{
    background-color: #0084ff;
    color: beige;
    padding: 5px;
    margin-left: 25px;
    box-shadow: 5px 5px 3px rgba(117, 89, 89, 0.5);
    border-radius: 5px;
}
.btn4:hover{
    background-color: #a80024;
    cursor: pointer;
}

.table{
    background-color: white;
    color:rgb(0, 38, 255);
    border: 2px solid gray;
    border-radius:10px 10px;
}

.btn4 {
    padding-left: 10px;
}

.grpbtn{
    padding:10px;
    margin: 10;
}

.grpbtn input{
    background-color: dodgerblue;
    color: aliceblue;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(117, 89, 89, 0.5);
}

.grpbtn input:hover{
    background-color: black;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}
.grpbtn input:active{
    background-color: #a80024;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}    

.table{
    background-color: white;
    color:rgb(0, 38, 255);
    border: 2px solid gray;
    border-radius:10px 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

input[type="text"]{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

